<h1>Editing Elist</h1>

<%= render 'form' %>
<br>
<%= link_to 'Show', @elist, class: "btn btn-info", :style=>'color:#FFFFFF;' %> &nbsp &nbsp &nbsp
<%= link_to 'Back', elists_path, class: "btn btn-default" %>

